[project]
	description = The shopping crawl
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/HilaArobas
[access "refs/for/refs/*"]
	read = group user/HilaArobas
	push = group user/HilaArobas
	label-Code-Review = -2..+2 group user/HilaArobas
	label-Verified = -1..+1 group user/HilaArobas
	rebase = group user/HilaArobas
	removeReviewer = group user/HilaArobas
	submit = group user/HilaArobas
[access "refs/heads/*"]
	read = group user/HilaArobas
	create = group user/HilaArobas
	push = +force group user/HilaArobas
	pushMerge = group user/HilaArobas
[access "refs/tags/*"]
	push = +force group user/HilaArobas
	pushTag = group user/HilaArobas
	pushSignedTag = group user/HilaArobas
